<TMPL_INCLUDE NAME="header.html">

	<!--
	************************************************
	-->


	<h3>Search Results for "<TMPL_VAR NAME=SEARCH_FOR>" in "<TMPL_VAR NAME=SEARCH_BY>"</h3>
	<br />
	<TMPL_LOOP NAME=SONG_INFO>
		<div class="alert alert-info" onclick="javascript:document.getElementById('<TMPL_VAR NAME=ALBUMID>').submit();">
			<form action="albumqueue.pl" method="get" id="<TMPL_VAR NAME=ALBUMID>">
				<div class="row">
					<div class="span7">
						<strong>ALBUM TITLE: </strong><TMPL_VAR NAME=ALBUMTITLE>
					</div>
					<div class="span3">
						<strong>ALBUM TYPE: </strong><TMPL_VAR NAME=ALBUMTYPE>
					</div>
				</div>
				<div class="row">
					<div class="span7">
						<strong>ARTIST NAME: </strong><TMPL_VAR NAME=ARTISTNAME>
					</div>
					<div class="span3">
						<strong>RELEVANCE: </strong><TMPL_VAR NAME=ALBUMSCORE>%
					</div>
				</div>
				<input type="hidden" name="albumid" value="<TMPL_VAR NAME=ALBUMID>"/>
				<input type="hidden" name="artistid" value="<TMPL_VAR NAME=ARTISTID>"/>
			</form>
		</div>
	</TMPL_LOOP>
	

	<!--
	************************************************
	-->

	<TMPL_INCLUDE NAME="footer.html">
