<TMPL_INCLUDE NAME="header.html">

	<!--
	************************************************
	-->

	<h3>Search Results for "<TMPL_VAR NAME=SEARCH_FOR>" in "<TMPL_VAR NAME=SEARCH_BY>"</h3>
	
	<br />
	<TMPL_LOOP NAME=SONG_INFO>
		<div class="alert alert-info" onclick="javascript:document.forms[0].submit()">
			<form action="artistqueue.pl" method="get">
				<div class="row">
					<div class="span6">
						<strong>NAME: </strong><TMPL_VAR NAME=SORTNAME>
					</div>
					<div class="span3">
						<strong>RELEVANCE: </strong><TMPL_VAR NAME=SCORE>%
					</div>
				</div>
				<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>"/>
			</form>
		</div>
	</TMPL_LOOP>

	<!--
	************************************************
	-->

	<TMPL_INCLUDE NAME="footer.html">
