</div>
		<script src="/bootstrap/bootstrap-transition.js"></script>
		<script src="/bootstrap/bootstrap-alert.js"></script>
		<script src="/bootstrap/bootstrap-modal.js"></script>
		<script src="/bootstrap/bootstrap-dropdown.js"></script>
		<script src="/bootstrap/bootstrap-scrollspy.js"></script>
		<script src="/bootstrap/bootstrap-tab.js"></script>
		<script src="/bootstrap/bootstrap-tooltip.js"></script>
		<script src="/bootstrap/bootstrap-popover.js"></script>
		<script src="/bootstrap/bootstrap-button.js"></script>
		<script src="/bootstrap/bootstrap-collapse.js"></script>
		<script src="/bootstrap/bootstrap-carousel.js"></script>
		<script src="/bootstrap/bootstrap-typeahead.js"></script>
	</body>
</html>