<TMPL_INCLUDE NAME="header.html">

	<!--
	************************************************
	-->


	<h3>Search Results for "<TMPL_VAR NAME=SEARCH_FOR>" in "<TMPL_VAR NAME=SEARCH_BY>"</h3>
	<br />
	<TMPL_LOOP NAME=SONG_INFO>
		<div class="alert alert-info" onclick="javascript:document.getElementById('<TMPL_VAR NAME=SONGID>').submit();">
			<form action="songquery.pl" method="get" id="<TMPL_VAR NAME=SONGID>">
				<div class="row">
					<div class="span5">
						<strong>SONG TITLE: </strong><TMPL_VAR NAME=SONGTITLE>
					</div>
					<div class="span5">
						<strong>ALBUM TITLE: </strong><TMPL_VAR NAME=ALBUMTITLE>
					</div>
				</div>
				<div class="row">
					<div class="span5">
						<strong>ARTIST NAME: </strong><TMPL_VAR NAME=ARTISTNAME>
					</div>
					<div class="span5">
						<strong>RELEVANCE: </strong><TMPL_VAR NAME=SONGSCORE>%
					</div>
				</div>
				<input type="hidden" name="id" value="<TMPL_VAR NAME=SONGID>"/>
				<input type="hidden" name="name" value="<TMPL_VAR NAME=SONGTITLE>"/>
			</form>
		</div>
	</TMPL_LOOP>
	
	<form action="returnsearch.pl" method="get">
		<input type="hidden" name="main-search-text" value="<TMPL_VAR NAME=SEARCH_FOR>"/>
		<input type="hidden" name="main-search-by" value="<TMPL_VAR NAME=SEARCH_BY>"/>
		<input type="hidden" name="more" value="<TMPL_VAR NAME=MORE>"/>
		<button type="submit" class="btn btn-primary">
			More Results
		</button>
	</form>
	

	<!--
	************************************************
	-->

	<TMPL_INCLUDE NAME="footer.html">
